/********************* Regole per il "PUSH" *************************/
/*** (tenere il footer in basso alla finestra nelle pagine corte) ***/
html, body {
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
}

/*
body .page-container,
body .page-container .main-content {
	height: 100%;
	padding: 50px 0 0 0;
}
*/

/*
body .page-container .main-content section {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
*/

/*
footer, .push {
	height: 4em;
}
*/
/*******************************************************************/


/********************* Regole per validazione form *************************/

.form-group.has-error .input-group.minimal .form-control:focus {
	border-color: #ffafbd;
}

.form-group.has-success .input-group.minimal .form-control:focus {
	border-color: #b4e8a8;
}

/***************************************************************************/


/**************/
/*** HEADER ***/
/**************/

/*
body .site-header-container .user-bar {
	margin-top: 10px;
}
*/

/*
body .site-header-container .user-bar ul li {
	padding: 10px;
}
*/

/**************/


/*****************/
/*** CONTENUTO ***/
/*****************/

/*
body .search-block .input-lg {
	height: 44px;
}
*/

body .wrap .breadcrumb h1 {
	word-wrap: break-word;
}

/*****************/


/**************/
/*** FOOTER ***/
/**************/
/*
footer {
	color: #ffffff;
	padding: 20px 0 0 0;
	background: #222;
}
*/
/**************/
