.doc-page-wrapper {
	position: relative;
}
.doc-page-img {
	display: inline-block !important;
	cursor: url(../../images/cursors/zoom-16.cur);
	cursor: url(../../images/cursors/zoom-16.png) 0 0, auto;
}
.arrows-btn {
	position: absolute;
	z-index: 10;
	width: 50px;
	height: 100px;
	cursor: pointer;
	display: inline-block !important;
	top: 50%;
	margin-top: -50px;
}
.hide {
	visibility: hidden;
}
.right-arrow {
	right: 0px;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.left-arrow {
	left: 0px;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.pointer {
	position: absolute;
	top: 50%;
	margin-top: -22px;
	z-index: 9001;
	left: 12px;
	opacity: 0.8;
}
.next {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
	right: 12px;
	left: auto;
}
.prev {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid white;
}
